@font-face {
    font-family: 'Open Sans Hebrew Condensed';
    src: url(../fonts/OpenSansHebrewCondensed-Bold.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.ttf);
}