* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.required_inp:after {
  content: " *";
  color: red;
}

.reversed{
  background-image: url(../images/rectangleLeft.svg) !important;
  flex-direction: row-reverse !important;
  background-repeat: no-repeat;
  padding-right: 220px;

}

.nonReversed{
  padding-left: 220px;
    background-image: url(../images/rectangleRight.svg);

}

.activeButton {
  width: 44px;
  height: 14px !important;
  flex-shrink: 0;
  background: #8FC5FF !important;
}


.activeminibutton {
  width: 44px !important;
  height: 14px !important;
  background: #8FC5FF !important;
}

